/* SMOOTH43 */

/* colors */
/* accent_bg: #665319 */
/* hover_bg: #EADAAB */
/* accent_fg: #ffffff */
/* slider_red: #bb6271 */

/* System Background */
#overviewGroup {
  background-color: #D8BA61;
}

/* Dash */
.dash-background {
  background-color: #665319 !important;
  border-radius: 20px;
}

.app-well-app-running-dot {
  background-color: #D8BA61;
  margin-bottom: 14px; 
}

.dash-label {
  border-radius: 8px;
  background-color: #665319 !important;
}


/* App Grid */

.icon-grid {
  margin-top: 16px;
  background-color: #665319;
}

.app-folder-dialog {
  background-color: #665319 !important;
  border-radius: 12px;
}

.edit-folder-button {
  background-color: #9E6700;
}
.page-indicator-icon {
  background-color: #665319;
}


/* Panel */
#panel{
  background-color: transparent;
  margin: 2px;
  height: 38px;
}
.workspace-animation{ background-color: #665319; }
.panel-button,
.clock,
.clock-display StIcon{
  color: #fff;
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: #665319;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.clock-display StIcon{
  padding: 8px;
  margin: 0;
}
.panel-button:hover,
.panel-button:hover .clock{
  color: #171206 !important;
  background-color: #D8BA61;
}
.panel-button:active,
.panel-button:overview, /* activites */
.panel-button:active .clock{
  background-color: #D8BA61;
  color: #171206;
}
/* clock fix */
.clock-display{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.clock{
  margin: 0 !important;
}

/* Popups */
.popup-menu-content{
  padding: 0;
  margin: 0;
  background-color: #D8BA61 !important;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.03);
}
.popup-separator-menu-item-separator {
  background-color: #665319;
}
.popup-menu-item{
  color: #171206;
  fill: #171206;
  margin: 0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.popup-menu-item:focus{
  background-color: #665319 !important;
  color: #fff;
}
.popup-menu-item:hover{
  background-color: #665319 !important;
  color: #fff;
}

.popup-menu-item:active{
  background-color: #005A6D !important;
  color: #ffffff;
}
.popup-sub-menu{
  background-color: #005A6D;
  color: #ffffff;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.popup-sub-menu .popup-menu-item{
  background-color: #005A6D;
  color: #ffffff;
  box-shadow: none;
}

/* calendar */
#calendarArea{ padding: 0; color: #171206; }
.datemenu-calendar-column{ margin: 0px; }
.pager-button:hover,
.pager-button:focus{
  background-color: #665319;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.calendar-change-month-back, .calendar-change-month-forward  {
  color: #171206;
  fill: #171206;
}
.calendar-change-month-back:hover, 
.calendar-change-month-forward:hover,
.calendar-change-month-back:focus, 
.calendar-change-month-forward:focus  {
  color: #fff;
  fill: #fff;
}
.calendar-week-number {
  background-color: #665319;
  color: #e9d8a6;
}
.datemenu-today-button {
  color: #171206;
}
.datemenu-today-button:hover, .datemenu-today-button:hover .day-label  {
  color: #fff;
  background-color: #665319;
}
/* calendar-days */
.calendar-day-base{ 
  color: #171206;
  border-radius: 8px; }
.calendar-month-label, .day-label, .calendar-day-heading{
  color: #171206;
  }
.calendar-day-base:hover,
.calendar-day-base:focus,
.calendar-day-base:active:hover,
.calendar-day-base:selected:hover{
  color: #ffffff;
  background-color: #665319;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.calendar-day-base:active,
.calendar-day-base:selected{
  
  background-color: #005A6D;
  color: #ffffff;
}
.calendar-today {
  box-shadow: inset 0 0 0 2px #9E6700;
  background-color: #9E6700;
}
.calendar-today:selected{
  box-shadow: inset 0 0 0 2px #005A6D;
  background-color: #005A6D;
  
}
.calendar-day-with-events{ font-weight: 800; }
.calendar-nonwork-day {
  color: #725c1c; 
}
/* events */
.calendar{
  border-radius: 11px;
  background-color: #EADAAB;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03) !important;
}
.events-button,
.world-clocks-button,
.weather-button{
  background-color: #EADAAB;
  color: #171206 !important;
  border-radius: 11px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.events-button:active,
.world-clock-button:active,
.weather-button:active{
  background-color: #005A6D;
  color: #171206 !important;
}

.events-title {
  color: #171206 !important;
}

.events-list {
  color: #171206 !important;
}

.event-time {
  color: #725c1c !important;
}

/* message-list */
.message-list{
  border: none;
  padding: 5px 0 0 5px;
}
.message{
  background-color: #EADAAB;
  color: #171206 !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.message:hover{
  background-color: #443711;
}
.message-close-button{
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.message-close-button:hover{
  background-color: #e9d8a6;
  color: #171206;
}
.message-close-button:active{
  background-color: #171206;
  color: #ffffff;
}
.message .message-title, .message .message-body, .message StIcon {
  color: #171206;
  fill: #171206;
}
.message:hover .message-title, .message:hover .message-body, .message:hover StIcon {
  color: #fff;
  fill: #fff;
}.message:hover .event-time {
  color: #fff !important;
}

.message-media-control:hover{
  background-color: #e9d8a6;
  fill: #171206 !important;
  color: #171206 !important;
}
.message-media-control:active{
  background-color: #005A6D;
  color: #ffffff;
}

.toggle-switch{
  background-image: url("./toggle10-on.svg");
  background-color: transparent;
  border-radius: 10px;
}
.toggle-switch:checked{
  background-image: url("./toggle10-off.svg");
  background-color: #005A6D;
  border-radius: 10px;
}
.dnd-button:hover{
  background-color: #171206 !important;
  /* border: 1px solid transparent !important; */
}
.dnd-button{
  width: 48px;
  border-radius: 10px;
  background-color: #443711 !important;
  color: #FFF;
  /* box-shadow: 0 2px 5px -4px black !important; */
  box-shadow: none !important;
}

.button{
  color: #fff !important;
  background-color: #9E6700 !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03); 
}
.button:hover {
  background-color: #443711 !important;
}
.button:insensitive{
  box-shadow: none;
}
.button:inactive{
  background-color: #443711 !important;
  color: #FFF;
}
.button:active, .button:checked{
  background-color: #9E6700 !important;
  color: #FFF;
}
.message-list-clear-button{ border-radius: 10px; }

/* quick-settings */
.icon-button{ 
  background-color: #9E6700 !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
 }
 .icon-button:hover, .quick-menu-toggle:hover{ 
  background-color: #443711 !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
 }
.quick-settings{
  padding: 20px;
  border-radius: 24px;
}
.quick-toggle{ 
  color: #171206;
  fill: #171206;
  border-radius: 8px; 
}
.quick-toggle:checked, .quick-menu-toggle:checked { 
  background-color: #005A6D !important;
  color: #ffffff;
}
.quick-toggle-arrow { 
  background-color: #9E6700 !important;
  border-radius: 0 8px 8px 0; 
  border-width: 0;
}
.quick-menu-toggle { background-color: #9E6700; }
.quick-slider .icon-button{ box-shadow: none; }
.quick-slider .icon-button:hover{ 
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.quick-slider .icon-button:active, .button:active{
  background-color: #005A6D !important;
  color: #ffffff;
}

.quick-toggle-menu {
  color: #171206 !important;
  fill: #171206 !important;
  background-color: #D8BA61 !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.quick-toggle-menu .icon{
  color: #171206;
  fill: #171206;
  background-color: #D8BA61 !important;
  border-width: 0;
}


/* NOTIFICATIONS */
.notification-banner{
  background-color: #D8BA61;
  color: #171206;
  border-radius: 12px;
}
.notification-banner:hover{
  color: #fff !important;
}
.notification-button{
  background-color: #005A6D;
  border-radius: 10px !important;
  margin: 6px !important;
 
}
.notification-button:active{
  background-color: #005A6D;
  color: #ffffff;
}

.slider,
.level {
  height: 16px;
  -barlevel-height: 16px;
  -barlevel-background-color: #443711;
  /* fill */
  -barlevel-active-background-color: #005A6D;
  /* overfill */
  -barlevel-overdrive-color: #ffffff;
  -barlevel-overdrive-separator-width: 2px;
  -slider-handle-radius: 7px;
}

/* overview-ws-thumbnail */
.workspace-thumbnail{
  background-color: #665319;
  border: none;
  border-radius: 9px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  background-image: url('/home/linuxscoop/.config/background');
  background-size: cover;
}
.workspace-thumbnail-indicator {
  border-color: #005A6D;
  border-width: 3px;
  border-radius: 12px;
}

/* APP-GRID */
.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.app-well-app.app-folder .overview-icon{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.app-well-app.app-folder:active .overview-icon,
.app-well-app:active .overview-icon{
  background-color: #005A6D;
  color: #ffffff;
}

/* SEARCH */
.search-entry {
  background-color: #665319;
}
StEntry{
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.03);
}
StEntry:hover, StEntry:focus, StEntry:active{
  border: 1px solid #005A6D;
  box-shadow: inset 0 0 0 1px #005A6D;
}

.search-section-content{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
  border-radius: 17px;
}

.list-search-result:focus, .search-provider-icon:focus,
.list-search-result:hover, .search-provider-icon:hover,
.list-search-result:selected, .search-provider-icon:selected{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}
.list-search-result:active, .search-provider-icon:active{
  background-color: #725c1c;
  color: #ffffff;
}

StEntry {
  background-color: #665319;
}

#searchResults {
  margin: 0;
  padding-top: 16px;
  background-color: #725c1c;;
}

.search-section-content {
  background-color: #665319;
  border-radius: 12px !important;
}

/* OSD */
.modal-dialog{
  border-radius: 12px;
  background-color: #D8BA61 !important;
  border: 1px solid rgba(255, 255, 255, 0.03);
  color: #171206 !important;
}
.switcher-list,
.resize-popup,
.workspace-switcher,
.osd-window{
  background-color: #665319 !important;
  color: #fff !important;
  border-radius: 12px;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.03);
}
.ws-switcher-indicator{
  height: 10px;
  width: 10px;
}
.switcher-list .item-box:hover,
.switcher-list .item-box:focus,
.switcher-list .item-box:selected{
  background-color: #D8BA61 !important;
  color: #171206 !important;
}

.modal-dialog-linked-button {
  padding: 10px 0 !important;
  margin: 12px !important;
  border-radius: 10px !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
  border: none !important;
  background-color: #443711 !important;
}
.modal-dialog-linked-button:hover{
  box-shadow: inset 0 0 0 2px #725c1c !important;
  background-color: #725c1c !important;
}
.modal-dialog-linked-button:focus{
  box-shadow: inset 0 0 0 2px #005A6D !important;
  background-color: #005A6D !important;
}
.modal-dialog-linked-button:active{
  background-color: #005A6D !important;
  color: #ffffff;
}
.nm-dialog-scroll-view{
  border: 1px solid rgba(255, 255, 255, 0.03);
}
.nm-dialog-item:selected{
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

/* Screenshot */

.screenshot-ui-panel {
  background-color: #665319 !important;
  border-radius: 12px;
}

.screenshot-ui-close-button {
  background-color: #725c1c !important;
}
.screenshot-ui-close-button:hover {
  background-color: #D8BA61 !important;
  color: #171206 !important;
}
.screenshot-ui-type-button:checked {
  background-color: #D8BA61 !important;
  color: #171206 !important;
}

.screenshot-ui-type-button:hover, .screenshot-ui-type-button:focus {
  background-color: #D8BA61;
  color: #171206;
}
.screenshot-ui-tooltip {
  background-color: #665319;
}
.screenshot-ui-shot-cast-container {
  background-color: #443711;
  border-radius: 8px;
}
.screenshot-ui-shot-cast-button {
  border-radius: 6px;
}
.screenshot-ui-shot-cast-button:hover {
  background-color: #D8BA61;
  color: #171206;
}
/*  */
.level-bar{ 
  background-color: #443711 !important;
}

stage {
    font-family: Roboto Reguler;
    font-size: 14px;
}